.home_banner {
  background: #006
    url(https://s3-eu-west-1.amazonaws.com/mdpk/frontend/assets/images/header-bg.jpg)
    no-repeat;
  background-size: 100% auto;
  background-position: 100% bottom;
  min-height: 65vh;
  display: flex;
  align-items: center;
}

.banner_text {
  color: white;
  font-size: 3rem;
}

.special_banner_text {
  color: orange;
}

.search_bar {
  height: 3rem !important;
  width: 50% !important;
  border-radius: 0px !important;
}

.search_button {
  color: white !important;
  background-color: orange !important;
  border: orange !important;
  border-radius: 0px !important;
}

.search_button:hover {
  border-radius: 0px !important;
  color: orange !important;
  background-color: white !important;
}

.moving_tags {
  background-color: #25267e;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  padding: 0 1rem;
  text-align: center;
}

.dropdown_panel {
  /* height: 10rem !important; */
  width: 98% !important;
  background-color: white !important;
  position: absolute !important;
  z-index: 2 !important;
}

.panel_option {
  width: 100% !important;
  height: 3rem !important;
  border-bottom: 1px solid #e9e9e9 !important;
  display: flex !important;

  justify-content: start !important;
}

.panel_option:hover {
  background-color: #e9e9e9;
}
