.card_container {
  background-color: #fdf3e2 !important;
  height: 25rem;
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 10px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 30px !important;
  width: 277px !important;
  height: 280px !important;
  /* border: 1px solid black !important; */
  position: relative !important;
}

.teacher_img {
  position: absolute;
  top: -10%;
  width: 70px;
  height: 70px;
  border: 3px solid goldenrod;
  z-index: 5;
  border-radius: 50%;
}

.teacher_title {
  font-weight: 600;
}

.teacher_experience,
.teacher_designation,
.desc_text {
  color: grey;
  font-size: small;
}

.rate,
.review {
  font-size: larger;
}
